*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color:#A39594;
    color:white;
    line-height: 1.4;
    font-family: sans-serif;
}
a{
    color:white;
}
nav {
  background-color: #A39594;  
  height:70px;
  position: fixed;
  z-index: 2;
  width:100%;
}
nav ul {
    position: absolute;
    right: 0;
}
nav li {
    display: inline-block;
}
nav a {
    padding: 24px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color:#423E37 ;
}
#about {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E3B23C;
    margin: 0auto;
  }
  #about h1 {
      padding-top:60px;
      font-size: 56px;
      font-family:'Times New Roman', Times, serif;
      margin-bottom: 24px;
  }
  #about p {
      font-size: 32px;
      font-family: fantasy;
      color:white;
  }
  #projects {
      background-color:#A39594;
      padding: 80px 32px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
  }
  section {
      font-size: 40px;
      margin-bottom: 48px;
  }
  #projects div {
      max-width:522px;
      background-color:#423E37;
      margin-bottom: 32px;
      display: inline-block;
    
  }
  img {
      width:400px;
      height:400px;
      margin-bottom: 20px;
  }
 #projects a {
     font-size:16px;
     padding-bottom: 32px;
     display: block;
 }
 #projects h1 {
     padding-bottom: 10px;
 }
 #show {
     background-color: #423E37;
     height: 50px;
     width: 130px;
     text-align: center;
     font-size: 2rem; 
     margin: 0 auto;
     padding-top:15px;
 }
 #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    padding: 0 0;
    background-color: #423E37;
    margin:0 0;
}
#contact h2 {
    margin:0 auto ;
    display: block;
}
#contact p {
    font-family:cursive;
    font-size: 24px;
}
#contact div ul li {
    display: inline;
    padding-left:40px;
    font-size: smaller;
}
footer {
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 20px;
    border-top: solid white 4px;
    padding-top:20px;  
}